<div class="app-container">
    <div class="app-header">
        <div routerLink="/breakfasts" routerLinkActive="active">
            <span>Breakfast</span>
        </div>
        <div routerLink="/pizza" routerLinkActive="active">
            <span>Pizza</span>
        </div>
        <div routerLink="/wok" routerLinkActive="active">
            <span>Wok</span>
        </div>
        <div routerLink="/deserts" routerLinkActive="active">
            <span>Deserts</span>
        </div>
        <div routerLink="/drinks" routerLinkActive="active">
            <span> Drinks</span>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>